In [1]:
from langchain_community.llms import Ollama

In [2]:
llm = Ollama(model="mixtral")
llm.invoke("The first man on the moon was...")

' Neil Armstrong, as part of the Apollo 11 mission in 1969. This event was a significant milestone in space exploration and was watched by an estimated 600 million people around the world.'

In [3]:
import pandas as pd
df = pd.read_excel("./Updated Dataframe with Holiday Name.xlsx")
df

/tmp/ipykernel_7693/2777495320.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Tran Date,Particulars,Debit,Credit,Balance,Year,Month,Day,Weekday,Transaction,Type of Transaction,Transaction Size,Variable,Person-to-,Transaction ID,Merchant or Recipient Identifier,Bank Identifier,Transaction Method,Holiday Name
0,2023-06-30,UPI/P2M/318123361742/EURONETGP/ICICI\nBan/UPI,61.0,NaN,20018.76,2023,6,30,Friday,61.0,Debit,Medium,UPI,Merchant,318123361742,EURONETGP,ICICI\nBan,UPI,Not a Holiday
1,2023-06-30,UPI/P2A/318165871904/M THANGAR/Union\nBan/Payment,100.0,NaN,19918.76,2023,6,30,Friday,100.0,Debit,Medium,UPI,Account,318165871904,M THANGAR,Union\nBan,Payment,Not a Holiday
2,2023-06-30,UPI/P2M/318133847912/Sri Krish/Paytm Pay/UPI,45.0,NaN,19873.76,2023,6,30,Friday,45.0,Debit,Medium,UPI,Merchant,318133847912,Sri Krish,Paytm Pay,UPI,Not a Holiday
3,2023-06-30,UPI/P2A/318137076154/Ms E V R /City\nUnio/UPI,350.0,NaN,19523.76,2023,6,30,Friday,350.0,Debit,Large,UPI,Account,318137076154,Ms E V R,City\nUnio,UPI,Not a Holiday
4,2023-06-30,UPI/P2A/318199079945/VENMATHI /State\nBan/UPI,NaN,11380.0,30903.76,2023,6,30,Friday,11380.0,Credit,Huge,UPI,Account,318199079945,VENMATHI,State\nBan,UPI,Not a Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1502,2024-01-05,UPI/P2M/400529263423/JUST CAKES\n/Paymen/Paytm...,70.0,NaN,12325.00,2024,1,5,Friday,70.0,Debit,Medium,UPI,Merchant,400529263423,JUST CAKES\n,Paymen,Paytm Payments Bank,Not a Holiday
1503,2024-01-05,UPI/P2M/400579109544/BharatPe Merchant\n/Pay t...,100.0,NaN,12225.00,2024,1,5,Friday,100.0,Debit,Medium,UPI,Merchant,400579109544,BharatPe Merchant\n,Pay to,YesBank_Yespay,Not a Holiday
1504,2024-01-05,UPI/P2A/400535601226/RAVICHAND/Karur\nVys/UPI/,NaN,1000.0,13225.00,2024,1,5,Friday,1000.0,Credit,Huge,UPI,Account,400535601226,RAVICHAND,Karur\nVys,UPI,Not a Holiday
1505,2024-01-05,UPI/P2M/400591314408/Simpl /UPI...,3950.0,NaN,9275.00,2024,1,5,Friday,3950.0,Debit,Huge,UPI,Merchant,400591314408,Simpl,UPI\nIn,Axis Bank Ltd.,Not a Holiday
1506,2024-01-05,UPI/P2A/400598513412/PAVANKUMAR M MUCHIKKA/UPI...,180.0,NaN,9095.00,2024,1,5,Friday,180.0,Debit,Large,UPI,Account,400598513412,PAVANKUMAR M MUCHIKKA,UPI,INDUSIND BANK,Not a Holiday

In [4]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Merchant or Recipient Identifier"].unique().astype(str)
len(unique_transactions)

555

In [5]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 300,
 330,
 360,
 390,
 420,
 450,
 480,
 510,
 540,
 555]

In [6]:
len(index_list)

20

In [7]:
contacts = ["EVR VISHWADHARANI", "UMA RANI", "RAVI CHANDRAN"]
food = ["Cheese Street", "Burger King", "McDonalds"]
utilities = ["Simpl"]

In [8]:
llm.invoke(f"""Cheese Street, Bangalore metro rail, Euronetgp, Cheese st, Simpl, Swiggy, Ms EVR, Umaran, Mohammed Taufiq, Udupi hotel. Can you add an appropriate category to the above expenses one by one into Food, Utilities, Entertainment and Contact. Refer to the below list for the correct category. {contacts} {food} {utilities}""")

' Sure, I can help you categorize the given items. Here\'s how they can be categorized:\n\nFood:\n\n* Cheese Street (assuming it is a restaurant or food item)\n* Udupi hotel (a type of South Indian restaurant)\n* Burger King\n* McDonald\'s\n\nUtilities:\n\n* Bangalore metro rail (public transportation)\n\nEntertainment:\n\n* Euronetgp (not sure what this is, but it doesn\'t seem to fit any of the other categories)\n* Cheese st (assuming this is a typo and should be "Cheese Street," which I categorized as food)\n\nContact:\n\n* Simpl (a payment app, assuming it was used for making payments to contacts)\n* Ms EVR Viswadharani\n* Uma Ranai\n* Ravi Chandran\n* Mohammed Taufiq (assuming these are personal contacts)\n\nI hope this helps! Let me know if you have any questions.'

In [10]:
print("""Sure, I can help you categorize the given items. Here\'s how they can be categorized:\n\nFood:\n\n* Cheese Street (assuming it is a restaurant or food item)\n* Udupi hotel (a type of South Indian restaurant)\n* Burger King\n* McDonald\'s\n\nUtilities:\n\n* Bangalore metro rail (public transportation)\n\nEntertainment:\n\n* Euronetgp (not sure what this is, but it doesn\'t seem to fit any of the other categories)\n* Cheese st (assuming this is a typo and should be "Cheese Street," which I categorized as food)\n\nContact:\n\n* Simpl (a payment app, assuming it was used for making payments to contacts)\n* Ms EVR Viswadharani\n* Uma Ranai\n* Ravi Chandran\n* Mohammed Taufiq (assuming these are personal contacts)\n\nI hope this helps! Let me know if you have any questions.""")

Sure, I can help you categorize the given items. Here's how they can be categorized:

Food:

* Cheese Street (assuming it is a restaurant or food item)
* Udupi hotel (a type of South Indian restaurant)
* Burger King
* McDonald's

Utilities:

* Bangalore metro rail (public transportation)

Entertainment:

* Euronetgp (not sure what this is, but it doesn't seem to fit any of the other categories)
* Cheese st (assuming this is a typo and should be "Cheese Street," which I categorized as food)

Contact:

* Simpl (a payment app, assuming it was used for making payments to contacts)
* Ms EVR Viswadharani
* Uma Ranai
* Ravi Chandran
* Mohammed Taufiq (assuming these are personal contacts)

I hope this helps! Let me know if you have any questions.

In [9]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [21]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

Empty DataFrame
Columns: []
Index: []